{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ labname }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{% static 'labapp/css/bootstrap.css'%}">
    {#    <style>#}
    {#        body {#}
    {#            padding-top: 50px;#}
    {#            padding-bottom: 50px;#}
    {#        }#}
    {#    </style>#}
    <link rel="stylesheet" href="{% static 'labapp/css/bootstrap-theme.css'%}">
    <link rel="stylesheet" href="{% static 'labapp/css/main.css'%}">

</head>
<body>
<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Walter Lab</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {{ about_active }}><a href="/about">Research</a></li>
{#                <li {{ research_active }}><a href="/research">Research</a></li>#}
                <li {{ contact_active }}><a href="/contact">Contact</a></li>
                <li {{ people_active }}><a href="/people">Current Lab Members</a></li>
{#                <li {{ alumni_active }}><a href="/alumni">Alumni</a></li>#}
                <li id="social_menu_item" {{ social_active }}><a href="{% url 'pl-gallery-list' 1 %}">Social</a></li>
                <li {{ publications_active }}><a href="/publications">Publications</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>

{% block content %}

{% endblock %}
<hr>
<footer>
    <div class="container">
        <p>Last updated: {{ last_updated }} | <a href="https://www.ucsf.edu" style="text-decoration: underline">University of California, San Francisco</a> | <a href="http://www.hhmi.org/"><font color="blue">Howard Hughes Medical Institute</font></a></p>
    </div>
</footer>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{#<script>window.jQuery || document.write('<script src="{% static 'labapp/js/vendor/jquery-1.11.0.min.js' %}"><\/script>')</script>#}

<script src="{% static 'labapp/js/vendor/jquery-1.11.0.js' %}"></script>
<script src="{% static 'labapp/js/vendor/bootstrap.min.js'%}"></script>
<script src="{% static 'labapp/js/main.js'%}"></script>
<script src="{% static 'labapp/js/plugins.js'%}"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54748697-1', 'auto');
    ga('send', 'pageview');
</script>

{% block java_code %}

{% endblock %}

{% block more_js %}{% endblock %}

</body>
</html>
