{% extends "labapp/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 bottompadding">
                <img alt="Genentech Hall" src="{% static 'labapp/images/MissionBay_GenentechHall_StudentCommons_Day.jpg'%}"  class="img-responsive"/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <table>
                    <tr>
                        <td>
                            <address>
                                UCSF/HHMI MC 2200<br>
                                Genentech Hall N316<br>
                                600 16th Street<br>
                                San Francisco, CA 94158-2517<br>
                            </address>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td> Administration: </td>
                        <td><a href="mailto:christine@walterlab.ucsf.edu">Christine Genero</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>(415) 476-4636</td>
                    </tr>
                    <tr>
                        <td>Reagent requests:</td>
                        <td><a href="mailto:silke@walterlab.ucsf.edu">Silke Nock</a></td>
                    </tr>
                    <tr>
                        <td>Website questions:</td>
                        <td><a href="mailto:byron@walterlab.ucsf.edu">Byron Lee</a></td>
                    </tr>
                </table>
            </div>
        </div>

{#        <div class="row">#}
{#            <div class="col-lg-8 toppadding">#}
{#                <div id="map_canvas" class="span12"></div>#}
{#            </div>#}
{#        </div>#}

        <div class="row">
            <div class="col-lg-8 toppadding bottompadding">
               <a href="{% static 'labapp/images/ucsf_mission_bay.pdf' %}"><img alt="Genentech Hall" src="{% static 'labapp/images/ucsf_mission_bay.jpg'%}" class="img-responsive"/></a>
            </div>
        </div>

    </div>
{% endblock %}


{% block java_code %}
    <style>
        #map_canvas {
            display:block;
            width: 100%;
            height: 500px;
        }
    </style>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        function initialize() {
            var map_canvas = document.getElementById('map_canvas');
            var latlng = new google.maps.LatLng(37.767455, -122.392362);
            var map_options = {
                center: latlng,
                zoom: 18,
                mapTypeId: google.maps.MapTypeId.HYBRID,
                tilt: 0,
            };
            var map = new google.maps.Map(map_canvas, map_options);

            var myMarker = new google.maps.Marker({
                position: latlng,
                map: map,
                title:"About.com Headquarters"
            });
        }

        $(window).ready(function() {
            initialize();
        });
    </script>
{% endblock %}